@import url("base.css");
.slider{
    align-self: flex-start;
    background-color: #f0f0f0;
    border-radius: 15px;
}
.related-section{
    list-style-type: none !important;
}
.related-link{
    text-indent: 5px !important;
    text-decoration: none;
    color: var(--link-color);
}
.related-link:hover{
    color: black;
}
.dot{
    color:black;
}
.text-center{
    text-align: center;
}
.date{
    color: var(--link-color);
    font-size: 14px !important;
}
.keyword{
    background-color: #d1d1d1;
    margin: 3px 2px;
    padding: 3px 7px;
    border-radius: 10px;
    display: inline-block;
}