@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }
@font-face{
    font-family: 'vazir';
    src: url('../font/vazir/Vazir.ttf') format('Truetype'),
    url('../font/vazir/Vazir.eot') format('OpenType'),
    url('../font/vazir/Vazir.woff') format('woff'),
    url('../font/vazir/Vazir.woff') format('woff2');
}
@font-face{
    font-family: 'tit';
    src: url('../font/lalezar/Lalezar.ttf') format('Truetype'),
    url('../font/lalezar/Lalezar.ttf') format('OpenType'),
    url('../font/lalezar/Lalezar.woff') format('woff'),
    url('../font/lalezar/Lalezar.woff2') format('woff2');
}
.sub-nav{
    @apply text-gray-100 rounded-md bg-paraxin-c-200;
}
.main-nav{
    @apply underline text-paraxin-c-200;
}
.header-text{
    @apply font-tit text-2xl mb-3;
}
.paraxin-pro-link{
    @apply font-tit text-xl px-3 py-1 rounded-md text-paraxin-c-300 border-4 border-paraxin-c-300 hover:text-white hover:bg-paraxin-c-200 hover:ring-4 hover:ring-offset-1 hover:ring-paraxin-c-200 hover:ring-opacity-40;
}
.simple-input{
    @apply w-full rounded-lg shadow-md focus:outline-none;
}
.simple-container{
    @apply grid md:flex md:justify-center md:items-center;
}
.simple-container:nth-child(even){
    @apply md:flex-row-reverse;
}
.simple-link{
    @apply text-indigo-600 hover:underline;
}
.text-container{
    @apply w-full flex flex-col p-5;
}
.faq-content{
    @apply bg-gray-200 border-gray-900 rounded-lg p-5;
}
@layer base {
    *{
        direction: rtl;
        font-family: 'vazir', cursive;
        line-height: 28px;
    }
}