@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }
@font-face{
    font-family: 'vazir';
    src: url('../font/vazir/Vazir.ttf') format('Truetype'),
    url('../font/vazir/Vazir.eot') format('OpenType'),
    url('../font/vazir/Vazir.woff') format('woff'),
    url('../font/vazir/Vazir.woff') format('woff2');
}
@font-face{
    font-family: 'tit';
    src: url('../font/lalezar/Lalezar.ttf') format('Truetype'),
    url('../font/lalezar/Lalezar.ttf') format('OpenType'),
    url('../font/lalezar/Lalezar.woff') format('woff'),
    url('../font/lalezar/Lalezar.woff2') format('woff2');
}
.sub-nav{
    @apply text-gray-100 rounded-md bg-paraxin-c-200;
}
.sub-nav:hover{
    @apply text-gray-100;
}
.main-nav{
    @apply underline text-paraxin-c-200;
}
.header-text{
    @apply font-tit text-2xl mb-3;
}
.paraxin-pro-link{
    @apply font-tit text-xl px-4 py-1 rounded-md text-paraxin-c-300 border-3 border-paraxin-c-300 hover:cursor-pointer hover:ring-2 hover:bg-paraxin-c-200 hover:bg-opacity-20 hover:ring-offset-1 hover:ring-paraxin-c-200 hover:ring-opacity-40;
}
.simple-input{
    @apply w-full rounded-lg shadow-md focus:outline-none px-3 py-2;
}
.simple-label{
    @apply block text-sm font-medium leading-6 text-gray-900;
}
.box{
    @apply overflow-hidden border-2 border-gray-300 w-full rounded-xl hover:border-gray-500 hover:shadow-2xl;
}
.simple-container{
    @apply grid md:flex md:justify-center md:items-center;
}
.simple-container:nth-child(even){
    @apply md:flex-row-reverse;
}
.simple-link{
    @apply text-indigo-600 hover:underline;
}
.text-container{
    @apply w-full flex flex-col p-5;
}
.faq-content{
    @apply bg-gray-200 border-gray-900 rounded-lg p-5;
}
.pagination{
    @apply flex flex-row justify-center items-center rounded-xl overflow-hidden  border border-gray-500;
}
.pagination-item{
    @apply px-3 py-1 border-x border-gray-400 text-paraxin-c-200 cursor-pointer;
}
.pagination-here{
    @apply bg-paraxin-c-200 bg-opacity-80 text-white;
}
.pagination-control{
    @apply px-3 py-1 text-paraxin-c-200 cursor-pointer;
}
.pagination-disable{
    @apply bg-gray-300 text-gray-500 cursor-default;
}
.alert{
    @apply flex items-center gap-3 px-4 py-3 mt-3;
}
.alert-danger{
    @apply text-red-700 border-2 border-red-600 border-opacity-50 bg-red-100 bg-opacity-50 rounded-md;
}
.alert-success{
    @apply text-green-700 border-2 border-green-600 border-opacity-50 bg-green-100 bg-opacity-50 rounded-md;
}
.table{
    @apply text-gray-500 w-full;
}
.table-head{
    @apply bg-black text-white;
}
.table-head-item{
    @apply py-2;
}
.table-row{
    @apply bg-gray-200 cursor-default hover:bg-gray-300;
}
.table-row:nth-child(even){
    @apply bg-gray-100 cursor-default hover:bg-gray-300;
}
.btn-warning{
    @apply cursor-pointer text-yellow-700 bg-yellow-400 px-2 py-1 rounded-md border-2 hover:border-yellow-950 hover:text-yellow-950;
}
.btn-success{
    @apply cursor-pointer text-green-700 bg-green-400 px-2 py-1 rounded-md border-2 hover:border-green-950 hover:text-green-950;
}
.btn-danger{
    @apply cursor-pointer text-red-800 bg-red-400 bg-opacity-70 px-2 py-1 rounded-md border-2 hover:border-red-950 hover:text-red-950;
}
@layer base {
    *{
        direction: rtl;
        font-family: 'vazir', cursive;
        line-height: 28px;
    }
    .top-site .top-site-descryption{
        background-color: rgba(228, 136, 208, 0.851);
        visibility: hidden;
        transform: translateY(320px);
    }
    .top-site:hover .top-site-descryption{
        transform: translateY(0px);
        visibility: visible;
    }    
}