@import url('base.css');

.search-label{
    left: auto !important;
    line-height: 22px !important;
}
.filter{
    padding: 25px !important;
    align-self: flex-start;
}
.row-reverse{
    flex-direction: row-reverse;
}
form input{
    margin-right: 5px;
}
.links{
    text-decoration: none;
    line-height: 25px;
    color:var(--link-color);
}
.card:hover{
    box-shadow: 0px 0px 10px 0.5px;
}
.pagination{
    justify-content: center;
    margin: 0px !important;
}