@import url('base.css');

.links{
    text-decoration: none;
    line-height: 25px;
    color:var(--link-color);
    font-size: 13px !important;
    margin: 0px 5px;
}
.card:hover{
    box-shadow: 0px 0px 10px 0.5px;
}