@import url("font.css");
:root{
    /* color in paraxin */
    --paraxin-color: #77005d;
    /* --paraxin-color: #ea5404; */
    /* for download image use this code for color #B2299F */
    --menu-color: #efefef;
    --menu-hover-color: black;
    --background-color-body: white;
    --youtube-color: #CD201F; 
    --github-color: #333333; 
    --telegram-color: #0088CC; 
    --mail-color: #DB3A1B;
    --linkedin-color: #0077B5;
    --call-color: #189D0E;
    --text-color: #2d3f4c;
    --link-color: #747474;
    --main-font-size: 16px;
    --header-font-size: 17px;
    --h-font-size: 20px;
    --line-height-p: 27px;
    --padding-a-field: 5px 20px;
    --border-radius-a-filed: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl !important;
    font-family: 'vazir', cursive !important;
    font-size: var(--main-font-size);
}
body{
    height: 100vh;
    letter-spacing: -1px;
    color: var(--text-color);
    line-height: var(--line-height-p);
}
.body{
    padding: 15px 25px;
    max-width: 1300px;
    line-height: 30px;
    margin: auto;
}
.tit{
    font-family: 'Lalezar', cursive !important;
    font-size: 2rem !important;
}
.english-font{
    /* font-family: 'Orbitron', sans-serif; */
    font-family: serif;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #5f727f;
}
.navbar-color , .offcanvas , .dropdown-menu{
    background-color: var(--menu-color) !important;
}
.social-media-nav{
    color: var(--link-color);
    padding: 4px;
}
.social-media-nav i{
    font-size: 20px;
}
.social-media-nav:hover{
    color: var(--paraxin-color);
}
.imgs{
    width: 100px;
}
.padding-69px{
    padding-top: 69px !important;
}
.display-f-r{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.display-f-c{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.flex-justify-center{
    justify-content: center;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-s-a{
    justify-content: space-around;
}
.contact-section{
    position: fixed;
    right: 5px;
    bottom: 5px;
    border-radius: 20px;
    z-index: 999999;
    visibility: hidden;
}
.contact-section a{
    text-decoration: none;
    position: relative;
    background-color: var(--call-color);
    border-radius: 20px;
    width: 48px;
    height: 48px;
}
.contact-section a::before{
    content: "";
    position: absolute;
    background-color: var(--call-color);
    width: 48px;
    height: 48px;
    border-radius: 20px;
    left: 0px;
    bottom: 0px;
    animation: reapid-scale 1s infinite ease-out;
    -webkit-animation: reapid-scale 1s infinite ease-out;
    -o-animation: reapid-scale 1s infinite ease-out;
    -moz-animation: reapid-scale 1s infinite ease-out;
    -ms-animation: reapid-scale 1s infinite ease-out;
}
.contact-section i{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 48px;
    animation: rotate-icon .5s infinite ease-out alternate;
    -webkit-animation: rotate-icon .5s infinite ease-out alternate;
    -o-animation: rotate-icon .5s infinite ease-out alternate;
    -moz-animation: rotate-icon .5s infinite ease-out alternate;
    -ms-animation: rotate-icon .5s infinite ease-out alternate;
}
@keyframes rotate-icon{
    from{
        transform: rotate(20deg);
    }
    to{
        transform: rotate(-20deg);
    }
}
@keyframes reapid-scale{
    from{
        opacity: .8;
    }
    to{
        opacity: 0.3;
        transform: scale(1.4);
    }
}
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px;
}
.caption h1{
    padding: 15px 10px 0px !important;
    font-size: 25px;
    letter-spacing: -2px;
}
.caption::before{
    content: "\227C";
    color: var(--paraxin-color);
    font-weight: 900;
    font-size: 30px;
}
.caption::after{
    content: "\227D";
    color: var(--paraxin-color);
    font-weight: 900;
    font-size: 30px;
}
footer{
    padding: 0 30px;
    background-color: var(--menu-color);
}
.related-links li{
    list-style-type: none;
}
.related-links li a{
    text-decoration: none;
    line-height: 25px;
    color:var(--link-color);
}
.related-links li a:hover{
    text-decoration: underline;
    color: var(--menu-hover-color);
    font-weight: 500;
}
.border-b-paraxin{
    border-bottom: 4px solid var(--paraxin-color);
}
.topic-link{
    width: 75%;
    padding: 10px 0px;
    margin-top: 10px;
}
.robot-button{
    color: var(--link-color);
    border: none;
}
.robot-button:hover{
    text-decoration: underline;
    color: black;
}
.footer-hr{
    padding: 0px;
    margin: 1px;
    width: 78%;
}
.social-media{
    padding: 20px 5px;
    text-align: center;
}
.social-media h3{
    padding: 12px 10px;
    font-size: 25px !important;
    color: var(--text-color);
}
.social-media ul{
    list-style-type: none;
    padding-right: 27px;
}
.social-media li{
    display: inline-block;
}
.social-media li i{
    display: block;
    font-size: 25px;
    padding: 5px 19px 0px;
}
.social-media li a{
    text-decoration: none;
    color: var(--link-color);
    font-size: 0;
}
.youtube:hover a{
    font-size: 15px;
    color: var(--youtube-color)
}
.github:hover a{
    font-size: 15px;
    color: var(--github-color);
}
.telegram:hover a{
    font-size: 15px;
    color: var(--telegram-color)
}
.email:hover a{
    font-size: 15px;
    color: var(--mail-color);
}
.linkedin:hover a{
    font-size: 15px;
    color: var(--linkedin-color);
}
footer hr{
    width: 70%;
    color: var(--text-color);
    text-align: center;
    margin: 15px auto;
}
.copyright{
    text-align: center;
    padding: 0px 0px 10px;
}
.copyright p{
    font-size: 13px;
    line-height: 10px;
    color: rgb(108, 108, 108);
}
.paraxin-link{
    /* color: #b75f0c; */
    color: var(--paraxin-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.style-link-in-paraxin{
    text-decoration: none;
    padding: var(--padding-a-field);
    color: var(--paraxin-color);
    background-color: var(--background-color-body);;
    border: 3px solid var(--paraxin-color);
    border-radius: var(--border-radius-a-filed);
    font-size: 18px;
}
.style-link-in-paraxin:hover{
    color: var(--background-color-body);
    background-color: var(--paraxin-color);
}
.a-flex-center{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.desc{
    width: 100%;
    margin: 0 0 13px 0;
    text-indent: calc(var(--line-height-p) - 10px);
    text-align: justify;
}
.row{
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}
.row:nth-child(even){
    flex-direction: row-reverse;
}
[class*="col-"]{
    padding: 6px 4px !important;
}
.img-responsive , .img-container{
    width: 100%;
}
.img-header{
    width: 85%;
    height: auto;
    margin: 0 auto;
}
.dropdown-item{
    text-align: right !important;
}
.dropdown-menu[data-bs-popper]{
    right: 10%;
}
.h-82vh{
    height: 82vh;
}





i{
    color: red !important;
}





@media screen and (max-width: 992px){
    .img-container{
        width: 60% !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 768px){
    .img-container{
        width: 75% !important;
        margin: auto !important;
    }
}
@media screen and (min-width: 768px){
    .contact-section{
        right: 10px;
        bottom: 10px;
    }
    .offcanvas-footer{display: none;}
    .social-menu{display: none;}
    .contact-section{visibility: visible;}
}
@media screen and (min-width: 1200px){
    .contact-section{
        right: 15px;
        bottom: 15px;
    }
}