/* @import url(http://awebfont.ir/css?id=1116); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
:root{
    /* color in paraxin */
    --paraxin-color: purple;
    --menu-color: #7e7e7e;
    --menu-hover-color: black;
    --background-color-header: white;
    --background-color-header-seconde: rgb(241 237 236);
    --youtube-color: #CD201F; 
    --github-color: #333333; 
    --telegram-color: #0088CC; 
    --instagram-color: #E1306C;
    --mail-color: #DB3A1B;
    --linkedin-color: #0077B5;
    --call-color: #189D0E;
    --text-color: #2d3f4c;
    /* --font-color: #b3b3b3; */


    /* font size in paraxin */
    --main-font-size: 15px;
    --header-font-size: 17px;
    --h-font-size: 20px;

    --line-height-p: 25px;
}
body{
    height: 100vh;
    font-family: iran;
    font-size: var(--main-font-size);
    letter-spacing: -1px;
}
.header{
    background-color: var(--background-color-header);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom,rgba(239, 248, 254, 0), rgb(212, 236, 254));
}
.header .menu-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 5;
    justify-content: space-around;
}
.header .menu-container .brand{
    padding: 15px;
}
.header .menu-container .brand a{
    text-decoration: none;
    color: var(--paraxin-color);
    font-size: 35px;
    font-weight: 900;
}
.header .menu{
    display: flex;
    align-items: center;
    flex-grow: 5;
}
.header .menu ul{
    list-style-type: none;
}
.header .menu ul li{
    display: inline-block;
    padding: 10px 10px;
}
.menu a{
    text-decoration: none;
    color: var(--menu-color);
    font-size: var(--header-font-size);
    font-weight: 400;
}
.menu a:hover, .selected-menu a{
    color: var(--menu-hover-color);
    font-weight: 500;
    border-bottom: 3px solid var(--paraxin-color);
}
.drop-down i{
    transition: transform .2s linear;
    color: var(--menu-color);
    padding: 2px;
}
.drop-down:hover i{
    transform: rotate(-180deg);
    color: var(--menu-hover-color);
}
.second-menu{
    display: none;
}
.menu ul li:hover ul{
    display: block;
    position: absolute;
    padding-top: 20px;
    margin-top: 5px;
    background-color: var(--background-color-header-seconde);
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.user-side{
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
}
.user-side a{
    text-decoration: none;
    font-size: var(--header-font-size);
    font-weight: 400;
    color: var(--paraxin-color);
    margin-left: 8px;
}
.user-side .login{
    font-size: var(--header-font-size);
    background-color: var(--paraxin-color);
    color: var(--background-color-header);
    padding: 5px 20px;
    border-radius: 10px;
}
.first-view img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.contact-section{
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 20px;
    align-items: center;
}
.contact-section a{
    text-decoration: none;
    position: relative;
    background-color: var(--call-color);
    border-radius: 20px;
    width: 48px;
    height: 48px;
}
.contact-section a::before{
    content: "";
    position: absolute;
    background-color: var(--call-color);
    width: 48px;
    height: 48px;
    border-radius: 20px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    animation: reapid-scale 1s infinite ease-out;
    -webkit-animation: reapid-scale 1s infinite ease-out;
    -o-animation: reapid-scale 1s infinite ease-out;
    -moz-animation: reapid-scale 1s infinite ease-out;
    -ms-animation: reapid-scale 1s infinite ease-out;
}
.contact-section i{
    font-size: 20px;
    color: white;
    display: flex;
    line-height: 48px;
    justify-content: center;
    animation: rotate-icon .5s infinite ease-out alternate;
    -webkit-animation: rotate-icon .5s infinite ease-out alternate;
    -o-animation: rotate-icon .5s infinite ease-out alternate;
    -moz-animation: rotate-icon .5s infinite ease-out alternate;
    -ms-animation: rotate-icon .5s infinite ease-out alternate;
}
@keyframes rotate-icon{
    from{
        transform: rotate(20deg);
    }
    to{
        transform: rotate(-20deg);
    }
}
@keyframes reapid-scale{
    from{
        opacity: .8;
    }
    to{
        opacity: 0.3;
        transform: scale(1.4);
    }
}
footer{
    padding: 0 30px;
    background-color: var(--background-color-header-seconde);
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.related-links{
    padding: 25px 15px;
    display: flex;
    max-width: 200px;
    flex-direction: column;
}
.related-links li a{
    text-decoration: none;
    line-height: 25px;
    color:var(--menu-color);
}
.related-links li a:hover{
    text-decoration: underline;
    color: var(--menu-hover-color);
    font-weight: 500;
}
.social-media{
    padding: 25px 15px;
    text-align: center;
}
.social-media h3{
    color: var(--text-color);
}
.social-media ul{
    list-style-type: none;
}
.social-media li{
    display: inline-block;
}
.social-media li i{
    display: block;
    font-size: 25px;
    padding: 20px 22px 5px;
}
.social-media li a{
    text-decoration: none;
    color: var(--menu-color);
    font-size: 0;
}
.social-media .youtube:hover a{
    font-size: 15px;
    color: var(--youtube-color)
}
.social-media .github:hover a{
    font-size: 15px;
    color: var(--github-color);
}
.social-media .telegram:hover a{
    font-size: 15px;
    color: var(--telegram-color)
}
.social-media .email:hover a{
    font-size: 15px;
    color: var(--mail-color);
}
.social-media .instagram:hover a{
    font-size: 15px;
    color: var(--instagram-color);
}
.social-media .linkedin:hover a{
    font-size: 15px;
    color: var(--linkedin-color);
}
footer hr{
    width: 70%;
    color: var(--text-color);
    text-align: center;
    margin: 15px auto;
}
.copyright{
    text-align: center;
    padding: 0px 0px 25px;
}
.copyright p{
    font-size: 13px;
    line-height: 20px;
    color: var(--text-color);
}
.paraxin-link{
    color: var(--paraxin-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}