@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@font-face{
    font-family: 'vazir';
    src: url('../font/vazir/Vazir.ttf') format('Truetype'),
    url('../font/vazir/Vazir.eot') format('OpenType'),
    url('../font/vazir/Vazir.woff') format('woff'),
    url('../font/vazir/Vazir.woff') format('woff2');
}
@font-face{
    font-family: 'irsans';
    src: url('../font/iran-sans/IranianSans.ttf') format('Truetype'),
    url('../font/iran-sans/IranianSans.eot') format('OpenType'),
    url('../font/iran-sans/IranianSans.woff') format('woff'),
    url('../font/iran-sans/IranianSans.woff2') format('woff2');
}
/* "Negarsans Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */