@import url("base.css");
.text-content{
    margin: 60px 0px;
    padding: 0px 15px;
}
.text-content p{
    text-align: center;
}
.text-content a{
    color: blue;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 2px;
}
.text-content a:hover{
    text-decoration: underline;
}
.caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 15px 0px;
}
.caption h1{
    padding: 15px 10px;
    font-size: 25px;
    letter-spacing: -2px;
}
.caption p{
    text-align: center;
}
.form-type{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form-type:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.form-type img{
    width: 60%;
    align-self: center;
    margin: 0px 0px 15px;
}
.form-type h3{
    margin: 0px 0px 20px;
}
.form-type p{
    text-align: justify;
    line-height: var(--line-height-p);
}
.link-form{
    margin: 20px 0px;
}
.paraxin-ability{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.paraxin-ability h2{
    margin: 15px 0px;
}