.row{
    margin: 15px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row .text{
    padding: 15px 25px;
    flex-grow: 1;
    /* background-color: red; */
    width: 300px;
}
.row .text h3{
    margin: 10px 15px;
    font-size: 30px;
    color: blue;
}
.row .text p{
    text-align: justify;
    font-size: 20px;
    color: var(--font-color);
}
.row .image{
    flex-grow: 1;
    /* background-color: blue; */
    width: 300px;
    padding: 15px 20px;
}
.row .image img{
    width: 100%;
}
.row:nth-child(even){
    flex-direction: row-reverse;
}