<div class="py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="md:col-span-2 lg:col-span-1">
        <h5 class="pb-2 text-gray-600 border-b-4 w-8/12 sm:w-full border-paraxin-c-200">آخرین مقالات</h5>
        <ul class="mt-4 text-gray-500">
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('weblog')}}">آخرین مقاله</a></li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('weblog')}}">آخرین مقاله</a></li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('weblog')}}">آخرین مقاله</a></li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('weblog')}}">آخرین مقاله</a></li>
        </ul>
    </div>
    <div>
        <h5 class="pb-2 text-gray-600 border-b-4 w-8/12 sm:w-full border-paraxin-c-200">خدمات</h5>
        <ul class="mt-4 text-gray-500">
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('site_design')}}">طراحی سایت</a></li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('logo_design')}}">طراحی لوگو</a></li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('fap')}}#fap-builder-link">فاپ‌ساز آنلاین</a></li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('qrcode')}}">کیو آر کد ساز</a></li><hr class="w-8/12 sm:w-full my-2 border border-gray-400">
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('work_sample')}}">نمونه کارها</a></li>
        </ul>
    </div>
    <div>
        <h5 class="pb-2 text-gray-600 border-b-4 w-8/12 sm:w-full border-paraxin-c-200">راه های ارتباطی<h5>
        <ul class="mt-4 text-gray-500">
            <li>
                <a class="hover:underline hover:text-gray-950" data-bs-target="#robot">ربات تلگرام</a>
            </li>
            <li><a class="hover:text-gray-950 hover:underline" href="{{url_for('contact')}}#send-mail">فرم تماس</a></li>
        </ul>
        <div class="modal fade" id="robot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h1 class="modal-title fs-5" id="exampleModalLabel">ربات تلگرام پاراکسین</h1>
                    </div>
                    <div class="modal-body">
                        <p>برای استفاده از ربات پاراکسین می توانید در تلگرام 
                            paraxin_bot
                            رو سرچ کنید تا با ربات ارتباط برقرار کنید یا اینکه دکمه ی انتقال به ربات را بزنین تا شما را به آدرس تلگرامی انتقال دهد .
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">بی خیال</button>
                        <a href="https://t.me/paraxin_bot" target="_blank" class="btn btn-success">انتقال به ربات</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt-5">
        <h5 class="font-tit text-2xl text-gray-600">شبکه های اجتماعی پاراکسین</h5>
        <div class="mt-6 flex gap-4 justify-center items-center">
            <a class="transition hover:scale-125 duration-700" target="_blanck" href="https://youtube.com/paraxin" title="حساب یوتیوب پاراکسین">
                <img class="w-8" src="{{url_for('static', filename='media/svg_file/youtube.svg')}}">
            </a>
            <a class="transition hover:scale-125 duration-700" target="_blanck" href="https://github.com/paraxin-company" title="حساب گیت پاراکسین">
                <img class="w-8" src="{{url_for('static', filename='media/svg_file/github.svg')}}">
            </a>
            <a class="transition hover:scale-125 duration-700" target="_blanck" href="https://t.me/paraxin_company" title="حساب تلگرام پاراکسین">
                <img class="w-8" src="{{url_for('static', filename='media/svg_file/telegram.svg')}}">
            </a>
            <a class="transition hover:scale-125 duration-700" target="_blanck" href="mailto:info@paraxin.ir" title="ایمیل پاراکسین">
                <img class="w-8" src="{{url_for('static', filename='media/svg_file/envelope-fill.svg')}}">
            </a>
            <a class="transition hover:scale-125 duration-700" target="_blanck" href="https://www.linkedin.com/in/paraxin-company/" title="حساب لینکدین پاراکسین">
                <img class="w-8" src="{{url_for('static', filename='media/svg_file/linkedin.svg')}}">
            </a>
        </div>
    </div>
</div>
<hr class="w-full my-6 md:w-9/12 md:mx-auto h-0 border border-paraxin-c-200">
<div class="text-center text-gray-500 text-xs mt-4">
    <p>تمامی حقوق برای تیم <a href="{{url_for('home')}}" class="text-paraxin-c-300 font-bold">پاراکسین</a> محفوظ می باشد.</p>
    <p class="mt-1">1402 (2023) &#169;</p>
</div>