{% extends 'panel/paxi.html' %}

{% block content %}
{% include "panel/form_errors.html" %}
<h1 class="text-paraxin-c-300 text-center mt-4 font-tit text-2xl">{% block header %}{% endblock %}</h1>
<form action="" enctype="multipart/form-data" method="post">
    {{form.csrf_token}}
    {{form.title.label(class="simple-label")}} {{form.title(class="simple-input mt-1")}}
    
    {% block baner %}{% endblock %}
    
    {{form.keyword.label(class="simple-label mt-7")}} {{form.keyword(class="simple-input mt-1 h-28")}}
    {{form.content.label(class="simple-label mt-7")}} {{form.content(class="simple-input mt-1 h-28")}}
    {% block inputs %}{% endblock %}
    <input class="paraxin-pro-link mt-7 px-3 py-1" type="submit" value="{% block buttonText %}{% endblock %}">    
</form>
{% endblock %}