{% if form.title and  form.title.errors %}
    {% for error in form.title.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}

{% if form.content and form.content.errors %}
    {% for error in form.content.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}
        
{% if form.baner and form.baner.errors %}
    {% for error in form.baner.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}
        
{% if form.album and form.album.errors %}
    {% for error in form.album.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}
        
{% if form.keyword and form.keyword.errors %}
    {% for error in form.keyword.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}

{% if form.password and form.password.errors %}
    {% for error in form.password.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}

{% if form.old_password and form.old_password.errors %}
    {% for error in form.old_password.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}

{% if form.confirm_password and form.confirm_password.errors %}
    {% for error in form.confirm_password.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}

{% if form.text and form.text.errors %}
    {% for error in form.text.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}

{% if form.username and form.username.errors %}
    {% for error in form.username.errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}