<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به بخش مدیریت پکسی</title>
    <meta name="author" content="paraxin company">
    <link rel="icon" href="{{url_for('static', filename='media/paraxin_icon.png')}}" type="image/icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body class="h-[100vh] flex justify-center items-center">
    <div class="w-10/12 md:w-6/12 p-5 rounded-md bg-gray-300 bg-opacity-40 border-2 border-gray-300 shadow-xl">
        {% include "include/message.html" %}
        <h1 class="font-serif text-3xl text-paraxin-c-200 text-center font-bold my-4">paxi panel</h1>
        <form action="" method="post">
            {{form.csrf_token}}
            <div style="direction: ltr !important" class="mt-4">
                {{form.username.label(class="font-serif")}}
                <div class="relative">
                    {{form.username(style="direction: ltr !important; padding-left: 2.25rem;",class="simple-input", placeholder="username")}}
                    <div class="absolute top-2 left-2 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                                                                                    
                    </div>
                </div>
            </div>
            <div style="direction: ltr !important" class="mt-4">
                {{form.password.label(class="font-serif")}}
                <div class="relative">
                    {{form.password(style="direction: ltr !important; padding-left: 2.25rem;",class="simple-input", placeholder="password")}}
                    <div class="absolute top-2 left-2 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                        </svg>                                                                                  
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center gap-1 mt-5 text-center">
                {{form.remember.label}}{{form.remember(class="w-4 h-4 focus:ring-2 focus:ring-offset-1")}}
            </div>
            <div class="flex justify-center mt-2">
                <input class="paraxin-pro-link" type="submit" value="ورود به پکسی">
            </div>
        </form>
    </div>
</body>
</html>
