{% extends 'panel/paxi.html' %}

{% block content %}
{% include "panel/form_errors.html" %}
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-3">
    <div class="bg-gray-300 p-5 rounded-md h-fit">
        <form action="{{url_for('change_profile_baner')}}" method="post" class="image-side" enctype="multipart/form-data">
            <p class="font-tit text-center text-md text-gray-700">سلام {{current_user.fullname}}</p>
            <input type="file" name="profile_baner" id="profile_baner" accept=".png, .jfif, .jpeg, .jpg, .webp, .svg, .icon, .ico" required class="hidden">
            <div class="relative">
                <label for="profile_baner" class="flex justify-center items-center absolute bottom-0 p-1 left-0 w-7 h-7 bg-paraxin-c-300 bg-opacity-80 text-gray-150 rounded-md hover:cursor-pointer">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </label>
                <img class="border-3 border-paraxin-c-200 rounded-lg w-full" src="{{url_for('static', filename=current_user.profile)}}" alt="profile image">
            </div>
            <div class="flex justify-center">
                <input style="font-size: medium;" type="submit" class="mt-5 paraxin-pro-link" value="تغییر عکس پروفایل">
            </div>
        </form>
    </div>
    <div class="lg:col-span-2">
        <div class="flex mt-3 gap-2 items-center">
            <p class="text-gray-500">ایمیل: {{current_user.email}}</p>
            {% if current_user.verify.startswith('1') %}
            <span class="text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                </svg>
            </span>
            {% else %}
            <a class="text-red-500 cursor-pointer" href="{{url_for('verify', verify_type='email', value=current_user.email)}}">
                تایید ایمیل
            </a>
            {% endif %}
        </div>
        <div class="flex mt-3 gap-2 items-center">
            <p class="text-gray-500">تلفن: {{current_user.phone}}</p>
            {% if current_user.verify.startswith('1') %}
            <span class="text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                </svg>
            </span>
            {% else %}
            <a class="text-red-500 cursor-pointer" href="{{url_for('verify', verify_type='phone', value=current_user.phone)}}">
                تایید تلفن
            </a>
            {% endif %}
        </div>
        <form style="direction: ltr !important;" action="" method="post" class="mt-2">
            {{form.csrf_token}}
            <div class="mt-10" x-data="{ fullname_popup: false }">
                <div class="flex flex-row-reverse items-center gap-1 mb-1 relative">
                    {{form.fullname.label(class="simple-label")}}
                    <div class="text-red-500 cursor-pointer" @click="fullname_popup = ! fullname_popup">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>
                    </div>
                    <div class="w-40 rounded-md shadow-xl border bg-gray-150 border-gray-400 absolute bottom-7 z-50" x-cloak x-show="fullname_popup" @click.outside="fullname_popup = false">
                        <p class="text-xs p-1 text-gray-500">
                            full name نامی است که از شما باقی می ماند و کاربران دیگر این نام را می بینند
                            <span class="text-red-500">امکان تغییر وجود ندارد</span>
                        </p>
                    </div>
                </div>
                <div class="relative">
                    {{form.fullname(style="direction:ltr ; padding-left: 2.25rem;", class="simple-input text-gray-400", value=current_user.fullname, disabled='')}}
                    <div class="absolute top-2 left-2 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                                                                                                           
                    </div>
                </div>              
            </div>
            <div class="mt-5" x-data="{ username_popup : false }">
                <div class="flex flex-row-reverse items-center gap-1 mb-1 relative">
                    {{form.username.label(class="simple-label")}}
                    <div class="text-red-500 cursor-pointer" @click="username_popup  = ! username_popup ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>
                    </div>
                    <div class="w-40 rounded-md shadow-xl border bg-gray-150 border-gray-400 absolute bottom-7 z-50" x-cloak x-show="username_popup " @click.outside="username_popup  = false">
                        <p class="text-xs p-1 text-gray-500">
                            username برای ورود شما به پنل پکسی استفاده می شود. کسی از این نام اطلاعی نخواهد داشت
                        </p>
                    </div>
                </div>
                <div class="relative">
                    {{form.username(style="direction:ltr ; padding-left: 2.25rem;",class="simple-input", value=current_user.username)}}
                    <div class="absolute top-2 left-2 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                                                                                                           
                    </div>
                </div>
            </div>
            <div class="mt-5">
                {{form.password.label(class="simple-label", style="direction: ltr !important;")}}
                <div class="relative">
                    {{form.password(style="direction:ltr ; padding-left: 2.25rem;",class="simple-input")}}
                    <div class="absolute top-2 left-2 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                        </svg>                                                                                  
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-5">
                <input class="paraxin-pro-link" type="submit" value="ذخیره تغییرات">
            </div>
        </form>
    </div>
</div>
{% endblock %}