<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{verify_type}} تایید حساب</title>
    <meta name="author" content="paraxin company">
    <link rel="icon" href="{{url_for('static', filename='media/paraxin_icon.png')}}" type="image/icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body>
    <div class="flex flex-col justify-center items-center h-[100vh]">
        <div class="sm:w-5/12 w-10/12">
            {% include 'include/message.html'%}
            <div class="border mt-3 border-gray-400 rounded-md shadow-xl bg-gray-200 p-3">
                <p>
                    تایید {{verify_type}}
                </p>
                <hr class="ruller">
                <form action="" class="mt-5" method="post">
                    <p class="text-center">کد ارسالی به {{value}} را وارد کنید</p>
                    <input type="text" name="verify_tocken" class="simple-input mt-3" required>
                    <div class="flex justify-between items-center mt-8">
                        <input type="submit" value="تایید" class="paraxin-pro-link">
                        <div>
                            12
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>