{% extends 'base.html' %}

{% block title %}paraxin | طراحی و ساخت انواع لوگو، توسط تیم پاراکسین{% endblock %}
{% block keyword %}طراحی لوگو, لوگو حرفه‌ای, تیم پاراکسین, پاراکسین, طراحی لوگوی ساده, طراحی لوگو سه بعدی, طراحی لوگوی 3d, paraxin, طراحی لوگوی نام و نشان, طارحی لوگوی پویا, طارحی لوگو ترکیبی, طارحی لوگوی تصویری{% endblock %}
{% block desc %}لوگو یک نماد یا نشانه است که برای شناسایی و تمایز بخشی خاص از یک برند، شرکت یا سازمان استفاده می‌شود. لوگوها عموماً شامل ترکیبی از الفبا، حروف، شکل‌ها، نمادها و رنگ‌ها هستند که به صورت منحصر به فرد طراحی شده‌اند...{% endblock %}
{% block style %}../static/css/services/logo-design.css{% endblock %}
{% block logo %}active{% endblock %}

{% block first_view%}
<div class="first-view display-f-r flex-align-center flex-justify-center">
    <div class="display-f-r flex-align-center flex-justify-center col-sm-12 col-md-6 p-5 animate__animated animate__rubberBand wow">
        <img src="../static/media/logo design/Icon design.svg" alt="طراحی لوگو در دنیای پاراکسین" class="img-header">
    </div>
    <div class="col-sm-12 col-md-6  display-f-r flex-align-center flex-justify-center">
        <div class="fv-text animate__animated animate__zoomInDown wow" data-wow-delay=".4s">
            <h1 class="tit">طراحی لوگو</h1>
            <p class="animate__animated animate__flash wow" data-wow-delay="1.5s">طراحی انواع لوگوهای <span class="stands-for">نام و نشان</span>، <span class="stands-for">تصویری</span>، <span class="stands-for">ترکیبی</span>، <span class="stands-for">ساده</span>، <span class="stands-for">پویا</span> و ...</p>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="caption m-t-150-px animate__animated animate__zoomInDown wow">
    <h1 class="tit" class="tit">ویژگی‌های یک لوگو خوب</h1>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6 animate__animated animate__backInLeft wow">
        <ul class="px-3">
            <li><span class="stands-for">قابل استفاده در مقیاس‌های مختلف : </span>لوگو باید بتواند در اندازه‌های مختلف (از نمادهای کوچک تا بزرگ) استفاده شود و همچنین در چندین رنگ قابل شناسایی باشد</li>
            <li><span class="stands-for">قابل استفاده در چندین زمینه : </span>لوگو باید در هر زمینه‌ای قابل استفاده باشد و به صورت چاپی و دیجیتال قابل استفاده باشد</li>
            <li><span class="stands-for">همخوانی با نوع فعالیت : </span>لوگو باید با نوع فعالیت شما همخوانی داشته باشد و پیام شما را به خوبی منتقل کند</li>
            <li><span class="stands-for">قابل تغییرپذیری : </span>لوگو باید به راحتی قابل تغییر و به‌روزرسانی باشد، بدون اینکه شخصیت اصلی آن تغییر کند</li>
            <li><span class="stands-for">انعکاس هویت شما : </span>لوگو باید هویت و ارزش‌های شما را به خوبی منعکس کند و بازخورد مثبت از سمت مشتریان را به همراه داشته باشد</li>
        </ul>
    </div>
    <div class="col-md-12 col-lg-6 animate__animated animate__backInRight wow">
        <ul class="px-3">
            <li><span class="stands-for">سادگی : </span>یک لوگو باید ساده و قابل خواندن باشد، تا بتواند به راحتی شناسایی شود</li>
            <li><span class="stands-for">یکتایی : </span>لوگوی شما باید منحصر به فرد باشد و تفاوتی با سایر لوگوها داشته باشد</li>
            <li><span class="stands-for">قابل حفظ در ذهن مشتریان : </span>لوگو باید به گونه‌ای طراحی شود که به راحتی در ذهن مشتریان ماندگار شود و آنها را به یاد شما بیاورد</li>
            <li><span class="stands-for">حاکم بر استحکام برند : </span>لوگو باید استحکام و قدرت برند شما را نشان دهد و به مشتریان اعتماد بخشد</li>
            <li><span class="stands-for">استفاده از رنگ‌های مناسب : </span>رنگ‌های استفاده شده در لوگو باید مناسب باشند و با هویت و پیام شما همخوانی داشته باشند</li>
        </ul>
    </div>
</div>
<div class="row m-t-150-px">
    <div class="col-md-12 col-lg-7 my-5 animate__animated animate__fadeInRight wow" data-wow-delay=".5s">
        <h2 class="header-title tit animate__animated animate__fadeIn wow" data-wow-delay="1.5s"> انواع لوگوها عبارتند از: </h2>
        <p class="desc">1. لوگوهای نام و نشان: این لوگوها شامل نام سایت یا برند هستند که به صورت یک نماد متنی طراحی می شوند. این نوع لوگوها به عنوان یک شناسه قابل تشخیص برای سایت عمل می کنند و برای سازمان ها و شرکت ها با نام قوی و قابل تشخیص مناسب هستند.</p>
        <p class="desc">2. لوگوهای تصویری: این لوگوها شامل تصاویر و نمادهای خاص هستند که به صورت گرافیکی طراحی می شوند. این نوع لوگوها معمولاً برای برندهایی استفاده می شود که شناخت قوی در بازار دارند و می خواهند برجستگی برند خود را به خوبی نشان دهند.</p>
        <p class="desc">3. لوگوهای ترکیبی: این لوگوها شامل ترکیبی از نام و تصویر هستند. آنها از عناصر متنی و گرافیکی برای ایجاد یک لوگو منحصر به فرد استفاده می کنند. این نوع لوگوها معمولاً برای برندهایی استفاده می شود که هم نام برند قوی دارند و هم نماد خاصی که به آنها اشاره می کند.</p>
        <p class="desc">4. لوگوهای ساده: این لوگوها شامل طرح های ساده و کم تفاوت هستند که به صورت حروف و نمادهای ساده طراحی می شوند. آنها اغلب برای سایت ها و برندهایی استفاده می شوند که به سادگی و شفافیت تمایل دارند.</p>
        <p class="desc">5. لوگوهای پویا: این لوگوها شامل طرح هایی هستند که قابلیت تغییر و تطبیق با شرایط مختلف را دارند. آنها معمولاً برای برندهایی استفاده می شوند که محصولات و خدمات مختلفی را ارائه می دهند و نیاز به تنوع در لوگو دارند.</p>
        <div class="a-flex-center">
            <a class="style-link-in-paraxin animate__animated animate__wobble wow" data-wow-delay="2s" href="#">درخواست طراحی لوگو</a>
        </div>
    </div>
    <div class="col-md-12 col-lg-5 my-5 img-container animate__animated animate__rubberBand wow" data-wow-delay=".5s">
        <img class="img-responsive" src="../static/media/logo design/light bulb.svg" alt="راه اندازی لوگو توسط تیم پاراکسین">
    </div>
</div>
<div class="row m-t-150-px">
    <div class="col-md-12 col-lg-7 my-3 animate__animated animate__fadeInLeft wow" data-wow-delay=".5s">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <span class="text-danger">#1 </span> نقاط مثبت استفاده از لوگو برای کسب‌وکار ها یا سایت ها چیست ؟
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        1. شناسایی آسان: لوگوها به کاربران کمک می کنند سایت را به راحتی تشخیص دهند و با آن ارتباط برقرار کنند.<br>
                        2. اعتماد سازی: لوگوها می توانند به کاربران اعتماد بخشند و نشان دهند که سایت قابل اعتماد است.<br>
                        3. بازخورد مثبت: لوگوها می توانند باعث ایجاد بازخورد مثبت از سمت کاربران شوند و ارتباط مستقیم با آنها برقرار کنند.<br>
                        4. تفاوت از رقبا: لوگوهای یکتا و منحصر به فرد می توانند سایت را از رقبا تمایز دهند و به آن یک شخصیت خاص بدهند.<br>
                        5. جذب مخاطب: لوگوهای جذاب و زیبا می توانند کاربران را به سمت سایت جذب کنند و از آن استفاده کنند.<br>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <span class="text-danger">#2 </span> چرا باید لوگو داشت ؟
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        داشتن یک لوگو برای یک شرکت، برند یا سازمان بسیار مهم است به دلایل زیر:
                        1. شناسایی و هویت: لوگو به عنوان نمادی از هویت و شناسایی برند در بازار استفاده می‌شود. با داشتن یک لوگو منحصر به فرد و قابل تشخیص، شما می‌توانید برند خود را از رقبا متمایز کنید و در ذهن مشتریان به خاطر بمانید.
                        2. حرفه‌ای بودن: داشتن یک لوگو حرفه‌ای به شما کمک می‌کند که به عنوان یک سازمان و شرکت قابل اعتماد و معتبر در نظر گرفته شوید. این نشان می‌دهد که شما به جزئیات و جزئیات کوچک توجه می‌کنید و به جدیت کار می‌کنید.
                        3. تبلیغات و بازاریابی: لوگوها ابزار بسیار قوی در تبلیغات و بازاریابی هستند. با داشتن یک لوگو خوش‌طراحی و قابل تشخیص، شما می‌توانید به راحتی برند خود را به مشتریان تبلیغ کنید و آنها را به خرید محصولات یا استفاده از خدمات شما ترغیب کنید.
                        4. اعتبار و قدرت: لوگوها به شما اعتبار و قدرت می‌دهند. با داشتن یک لوگو قوی و منحصر به فرد، شما می‌توانید به مشتریان نشان دهید که شما یک برند قوی و معتبر هستید و محصولات و خدمات با کیفیتی ارائه می‌دهید.
                        5. قابل استفاده در انواع رسانه‌ها: لوگوها قابل استفاده در انواع رسانه‌ها مانند وبسایت‌ها، بروشورها، کاتالوگ‌ها، تابلوها و غیره هستند. با داشتن یک لوگو، شما می‌توانید به راحتی برند خود را در همه جا نمایش دهید و شناخته شوید.
                        به طور کلی، داشتن یک لوگو مهم است زیرا به شما کمک می‌کند تا برند خود را متمایز کنید، به عنوان یک سازمان حرفه‌ای در نظر گرفته شوید و تبلیغات و بازاریابی خود را بهبود بخشید.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-5 my-3 img-container animate__animated animate__rubberBand wow" data-wow-delay=".5s">
        <img class="img-responsive" src="../static/media/FAQs.svg" alt="سوالات متداول درباره طراحی لوگو پاراکسین">
    </div>
</div>
<div class="caption m-t-150-px animate__animated animate__zoomInDown wow">
    <h1 class="tit">نظر مشتریان درباره پاراکسین</h1>
</div>
<div id="CustomerOpinion" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item text-center display-f-r flex-align-center flex-justify-center active" data-bs-interval="2000">
            <div class="opinion-container">
                <div class="profile">
                    <img class="img-responsive" src="../static/media/undraw_pic_profile.svg">
                </div>
                <div>
                    <h3 class="header-title">company name</h3>
                    <p class="desc">this is Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores placeat neque accusamus nihil minima earum, dolore blanditiis rerum eos ex nemo commodi, eligendi distinctio iusto harum ea facere corrupti expedita. description</p>
                </div>
            </div>
        </div>
        <div class="carousel-item text-center display-f-r flex-align-center flex-justify-center" data-bs-interval="2000">
            <div class="opinion-container">
                <div class="profile">
                    <img class="img-responsive" src="../static/media/undraw_pic_profile.svg">
                </div>
                <div>
                    <h3 class="header-title">company name</h3>
                    <p class="desc">this is Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores placeat neque accusamus nihil minima earum, dolore blanditiis rerum eos ex nemo commodi, eligendi distinctio iusto harum ea facere corrupti expedita. description</p>
                </div>
            </div>
        </div>
        <div class="carousel-item text-center display-f-r flex-align-center flex-justify-center" data-bs-interval="2000">
            <div class="opinion-container">
                <div class="profile">
                    <img class="img-responsive" src="../static/media/undraw_pic_profile.svg">
                </div>
                <div>
                    <h3 class="header-title">company name</h3>
                    <p class="desc">this is Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores placeat neque accusamus nihil minima earum, dolore blanditiis rerum eos ex nemo commodi, eligendi distinctio iusto harum ea facere corrupti expedita. description</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#CustomerOpinion" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#CustomerOpinion" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
{% block wave %}
<div class="pt-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#efefef" fill-opacity="1" d="M0,0L30,10.7C60,21,120,43,180,53.3C240,64,300,64,360,85.3C420,107,480,149,540,176C600,203,660,213,720,192C780,171,840,117,900,106.7C960,96,1020,128,1080,154.7C1140,181,1200,203,1260,208C1320,213,1380,203,1410,197.3L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
    </svg>
</div>
{% endblock %}