{% extends 'base.html' %}

{% block title %}paraxin | ساخت آنلاین کیوآرکد(QR code){% endblock %}
{% block keyword %}ساخت کیوآرکد, qr code, ساخت کیوآرکد به صورت آنلاین, کیوآرکد چیست, تاریخچه‌ی به وجود آمدن کیوآرکد, پاراکسین, تیم پاراکسین, paraxin{% endblock %}
{% block desc %}پاراکسین ارائه دهنده‌ی سرویس آنلاین کیوآرکد است اونم به صورت سریع و کارآمد. شما می توانید تجربه ی ساخت و استفاده از QR code را از طریق این سرویس داشته باشین...{% endblock %}
{% block style %}../static/css/services/qr-code.css{% endblock %}
{% block qrcode %}active{% endblock %}


{% block first_view%}
<div class="first-view display-f-r flex-align-center flex-justify-center">
    <div class="display-f-r flex-align-center flex-justify-center col-sm-12 col-md-6 p-5 animate__animated animate__rubberBand wow">
        <img src="../static/media/qr code/QR Code.svg" alt="کیوآرکد در دنیای پاراکسین" class="img-header">
    </div>
    <div class="col-sm-12 col-md-6  display-f-r flex-align-center flex-justify-center">
        <div class="fv-text animate__animated animate__zoomInDown wow" data-wow-delay=".4s">
            <h1 class="tit">QR code ساز</h1>
            <p class="animate__animated animate__flash wow" data-wow-delay="1.5s">کیوآرکد (QR code)، کدی برای دسترسی سریع و امن</p>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<p class="desc text-center my-5">طراحی کد QR به گونه‌ای است که می‌تواند حجم زیادی از اطلاعات را در خود ذخیره کند. همچنین، با جایگزینی برخی اجزای کد QR، می‌توان نشان‌ها، لوگوها و عکس‌ها را در آن قرار داد .</p>
<h3 class="tit text-danger py-5 m-t-150-px text-center animate__animated animate__shakeY wow" data-wow-delay=".4s">این بخش به زودی منتشر می شود.</h3>
<div class="caption m-t-150-px animate__animated animate__zoomInDown wow">
    <h1 class="tit" class="tit">فواید استفاده از کیوآرکد</h1>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6 animate__animated animate__backInLeft wow">
        <ul class="px-3">
            <li><span class="stands-for">امنیت : </span>کد QR، یک ابزار امن است که به شما اجازه می‌دهد تا به صورت امن به اطلاعات دسترسی پیدا کنید. با استفاده از کد QR، می‌توانید از خطراتی مانند ویروس‌های کامپیوتری و غیره جلوگیری کنید .</li>
            <li><span class="stands-for">به اشتراک گذاری آسان : </span>با استفاده از کد QR، می‌توانید به راحتی اطلاعات خود را با دیگران به اشتراک بگذارید. کافیست کد QR را بر روی کارت ویزیت، بروشور، تبلیغات و غیره قرار دهید تا مخاطبین شما به صورت سریع و آسان به اطلاعات شما دسترسی پیدا کنند .</li>
        </ul>
    </div>
    <div class="col-md-12 col-lg-6 animate__animated animate__backInRight wow">
        <ul class="px-3">
            <li><span class="stands-for">سرعت و آسانی : </span>با استفاده از کد QR، می‌توانید به صورت سریع و آسان به اطلاعات مورد نظر دسترسی پیدا کنید. کافیست کد QR را با گوشی هوشمند خود اسکن کنید تا به صفحات وب، فایل‌های PDF، تصاویر و غیره دسترسی پیدا کنید .</li>
            <li><span class="stands-for">ارتباط موثر : </span> با استفاده از کد QR، می‌توانید به شکلی ساده و موثر با مخاطبین خود ارتباط برقرار کنید. مخاطبین شما با اسکن کد QR، به صفحات وب شما دسترسی پیدا کرده و اطلاعات بیشتری درباره شما و کسب و کارتان بدست آورند .</li>
        </ul>
    </div>
    
</div>
<div class="row m-t-150-px">
    <div class="col-sm-12 col-lg-7 animate__animated animate__fadeInRight wow" data-wow-delay=".5s">
        <h1 class="tit animate__animated animate__fadeIn wow" data-wow-delay="1.5s">تاریخچه‌ی به وجود آمدن کیوآرکد</h1>
        <p class="desc">QR code یا کد دو بعدی، در سال 1994 توسط یک شرکت ژاپنی به نام Denso Wave اختراع شد. این شرکت، یک شعبه از شرکت Toyota بود که در زمینه صنعت خودروسازی فعالیت می‌کرد. در آن زمان، بارکدهای معمولی برای شناسایی قطعات خودرو استفاده می‌شدند، اما با توجه به نیاز به سرعت و دقت بیشتر در خواندن بارکدها، شرکت Denso Wave به دنبال یافتن راه حلی جدید بود.
            <br>
            به همین منظور، یک تیم از مهندسان این شرکت، کدی را طراحی کردند که با استفاده از الگوریتم‌های خاص، اطلاعات را در قالب یک کد دو بعدی و با حجم کمتری نسبت به بارکدهای معمولی، ذخیره می‌کرد. این کد در ابتدا به عنوان QR code (کوآر کد) شناخته شد که مخفف کلمات Quick Response (پاسخ سریع) است.
            <br>
            اولین کاربری رسمی این کد، در صنعت خودروسازی بود. در این صنعت، از QR code برای شناسایی قطعات و تولیدات استفاده می‌شد. با گذر زمان و توسعه فناوری‌های موبایل و اینترنت، QR code به سرعت در بسیاری از صنایع و بخش‌ها گسترش یافت .
            QR code، به دلیل سادگی و سرعت خواندن، به یکی از پرکاربردترین روش‌های شناسایی و انتقال اطلاعات تبدیل شده است.
        </p>
    </div>
    <div class="col-sm-12 col-lg-5 img-container animate__animated animate__rubberBand wow" data-wow-delay=".5s">
        <img class="img-responsive" src="../static/media/qr code/Time machine.svg" alt="تاریخچه‌ی به وجود آمدن کیوآرکد">
    </div>
</div>
<div class="row m-t-150-px">
    <div class="col-md-12 col-lg-7 my-3 animate__animated animate__fadeInLeft wow" data-wow-delay=".5s">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <span class="text-danger">#1 </span> کیوآرکد چیه ؟ 
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        کیو آر (QR) کد، یک نوع کد دو بعدی است که شامل الگویی از نقاط و خطوط سیاه و سفید است. این کد به طور 
                        رایج برای ذخیره و انتقال اطلاعات استفاده می‌شود. با اسکن کردن کد QR با دوربین گوشی همراه یا دستگاه خاص، می‌توانید به سرعت به صفحات وب، شماره تلفن، 
                        آدرس پستی و غیره دسترسی پیدا کنید. در واقع، این کد به صورت کوتاه شده اطلاعات را در خود ذخیره می‌کند تا به سرعت قابل دسترسی باشد .
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <span class="text-danger">#2 </span> چه طوری می توان از کیوآرکد استفاده کرد ؟
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        استفاده از کد QR، بسیار راحت و سریع است. بعد از گرفتن کیوآرکد از همین <a class="simple-link" href="#">صفحه</a>،
                        می توانید در هر جا که دوست دارین استفاده کنید و بعد از آن با دوربین گوشی همراه، کافی است کد را اسکن کنید تا 
                        به اطلاعات مورد نظر دسترسی پیدا کنید، بدون نیاز به تایپ کردن آدرس یا جزئیات دیگر.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTree">
                        <span class="text-danger">#3 </span> کیوآرکد در چه زمینه هایی کاربرد دارد ؟
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTree" class="accordion-collapse collapse">
                    <div class="accordion-body">Qr code در بسیاری از صنایع و بخش‌ها به عنوان یکی از روش‌های شناسایی و انتقال اطلاعات استفاده می‌شود. این کد در بسته‌بندی، تبلیغات، پرداخت الکترونیکی، کارت ورود به 
                        محل‌های عمومی و غیره مورد استفاده قرار می‌گیرد. همچنین، QR code  در صنایع خودروسازی، داروسازی، لوازم الکترونیکی، مواد غذایی، حمل و نقل و غیره نیز کاربرد دارد. با استفاده از QR code، اطلاعات 
                        مختلفی مانند لینک‌های وب، شماره تلفن، آدرس، اطلاعات محصول، پیام‌های تبلیغاتی و غیره به سرعت و با دقت بالا انتقال می‌یابد. 
                        همچنین، QR code  به عنوان یک ابزار پرکاربرد در حوزه پرداخت الکترونیکی نیز شناخته شده است.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-5 my-5 img-container animate__animated animate__rubberBand wow" data-wow-delay=".5s">
        <img class="img-responsive" src="../static/media/FAQs.svg" alt="سوالات متداول درباره کیوآرکد پاراکسین">
    </div>
</div>
{% endblock %}
{% block wave %}
<div class="pt-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#efefef" fill-opacity="1" d="M0,0L30,10.7C60,21,120,43,180,53.3C240,64,300,64,360,85.3C420,107,480,149,540,176C600,203,660,213,720,192C780,171,840,117,900,106.7C960,96,1020,128,1080,154.7C1140,181,1200,203,1260,208C1320,213,1380,203,1410,197.3L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
    </svg>
</div>
{% endblock %}