{% extends "shared/base.html" %}

{% block title %}صفحه یافت نشد{% endblock %}
{% block style %}static/css/not_found.css{% endblock %}

{% block content %}
<div class="row">
    <div class="img-container col-sm-12 col-lg-6 px-5 my-3">
        <img src="../static/media/404 Error.svg" alt="صفحه یافت نشد| پاراکسین" class="img-responsive">
    </div>
    <div class="col-sm-12 col-lg-6 my-2">
        <p class="desc t-center">
            متاسفانه صفحه موردنظر یافت نشد
        </p>
        <div class="links">
            <a class="style-link-in-paraxin" href="{{url_for('home')}}">صفحه اصلی</a>
        </div>
    </div>
</div>
{% endblock %}