{% extends 'base.html'%}

{% block title %}paraxin | تماس با تیم پاراکسین{% endblock %}
{% block keyword %}تماس با تیم پاراکسین, تماس با پاراکسین, ارتباط با پاراکسین, ارتباط با تیم پاراکسین, دپارتمان های پاراکسین, پشتیبان های پاراکسین, paraxin, پاراکسین, تیم پاراکسین{% endblock %}
{% block desc %}برای اینکه بتوانید در کمترین زمان ممکن با تیم پشتیبانی در ارتباط باشین می توانید از طریق این صفحه اقدام کنید، پشتیبان ها در کمترین زمان ممکن پاسخ شما را می دهند{% endblock %}
{% block style %}{{url_for('static', filename='css/contact.css')}}{% endblock %}
{% block contact %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5 img-container">
        <img class="img-responsive temps animate__animated animate__rubberBand wow" data-wow-delay=".5s" src="{{url_for('static', filename='media/Contact/Contact us pro.svg')}}" alt="تماس با تیم پاراکسین">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-7 my-3 animate__animated animate__zoomInDown wow" data-wow-delay=".4s">
        <h1 class="tit px-4 text-center">تماس با پاراکسین</h1>
        <p class="text-center animate__animated animate__flash wow" data-wow-delay="1.5s">
            به راحتی آب خوردن می توانید با ما در ارتباط باشین .
        </p>                
    </div>
</div>
<div class="row m-t-150-px">
    <div class="col-sm-12 col-lg-5 img-container">
        <img class="img-responsive animate__animated animate__rubberBand wow" data-wow-delay=".5s" src="{{url_for('static', filename='media/Contact/Get in touch.svg')}}" alt="روش های ارتباط با تیم">
    </div>
    <div class="col-sm-12 col-lg-7 animate__animated animate__fadeInRight wow" data-wow-delay=".5s">
        <p class="desc">
            برای ارتباط با تیم پشتیبانی می توانید از دو طریق : 1 .<a class="simple-link" href="#send-mail">فرم زیر</a> 2 .<a href="https://t.me/paraxin_bot" target="_blank" class="simple-link">ربات تلگرام</a> اقدام کنید .
        </p>
        <p class="desc">
            برای ارتباط از طریق فرم شما باید یک سری اطلاعات را وارد کنید که از جمله ی آنها ایمیل و تلفن همراه می باشد .
            ایمیل واردی در بخش ایمیل باید به درستی وارد شود، زیرا جواب تیکت شما به ایمیل مذکور که در فرم وارد کردین ارسال می شود .
            پس از درستی اطلاعات وارد شده اطمینان حاصل کنید .
        </p>
        <p class="desc">
            راه دیگر ارتباط استفاده از ربات تلگرام است که توصیه ما به شما این راه است . کار با ربات خیلی راحت است اما با این حال ربات در تمام مراحل شما را راهنمایی می کند .
            الگوریتم های ربات طوری طراحی شده‌اند که توانایی پیش بینی عملکرد پشتیبان ها را دارند به همین دلیل می تواند پیام شما را برای پشتیبانی ارسال کند
            که حدس می زند زودتر از بقیه آنلاین می شود، بنابر این پاسخ دهی از طریق ربات خیلی سریع تر از ارسال تیکت است .
        </p>
    </div>
</div>
<div class="row m-t-150-px">
    <div class="col-sm-12 col-lg-5 img-container">
        <img class="img-responsive animate__animated animate__rubberBand wow" data-wow-delay=".5s" src="{{url_for('static', filename='media/Contact/Contact us.svg')}}" alt="توضیحات دپارتمان های پاراکسین">
    </div>
    <div class="col-sm-12 col-lg-7 px-4 animate__animated animate__fadeInLeft wow" data-wow-delay=".5s">
        <p class="desc">
            برای اینکه بتوانید در کمترین زمان ممکن با تیم پشتیبانی ارتباط برقرار کنید و پاسخ خود را به سرعت دریافت کنید
            به شما توصیه می کنیم دپارتمان خود را انتخاب کنید . با این کار پیام شما به دپارتمان مربوطه (فقط دپارتمان مربوطه) ارسال می شود .
            <ul>
                <li>تیم پشتیبانی : در صورت بروز مشکل می توانید این دپارتمان رو انتخاب کنید تا تیم پشتیبانی قدرتمند پاراکسین با شما تماس بگیرند.</li>
                <li>امور مالی : در صورت سوال داشتن در مورد قیمت ها یا روبه‌رویی با مشکل مالی این گزینه را انتخاب کنید تا متخصصین این زمینه با شما تماس بگیرند.</li>
                <li>ثبت درخواست مشاوره : بعد از انتخاب این دپارتمان، تیم مشاوره با شما تماس می گیرند.</li>
                <li>نقد و انتقاد : پیام های این دپارتمان مستقیم به دست مدیریت می رسد، تیم پاراکسین خوش حال می شود انتقاد های شما را بشنود.</li> 
                <li>دعوت به همکاری : برای استخدام شدن در تیم پاراکسین این دپارتمان را انتخاب کنید تا متخصصین این حوزه با شما تماس بگیرند.</li>
            </ul>
        </p>
    </div>
</div>
<div id="send-mail">
    <div class="conect">
        <img src="{{url_for('static', filename='media/svg file/envelope.svg')}}">
        <form class="form">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn wow" data-wow-delay=".1s">
                    <input type="text" class="get-info" required placeholder="نام: ">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn wow" data-wow-delay=".3s">
                    <input type="text" class="get-info" required placeholder="نام خانوادگی: ">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn wow" data-wow-delay=".5s">
                    <input type="email" class="get-info" required placeholder="ایمیل: ">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn wow" data-wow-delay=".7s">
                    <input type="tel" class="get-info" pattern="09[0-9]{2}[0-9]{3}[0-9]{4}" required placeholder="تلفن همراه: 09123456789 ">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn wow" data-wow-delay=".9s">
                    <select class="department">
                        <option selected disabled>طریقه‌ی آشنایی شما با تیم</option>
                        <option>از طریق تبلیغات</option>
                        <option>از طریق آشنایان</option>
                        <option>از طریق تلگرام</option>
                        <option>موارد دیگر</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn wow" data-wow-delay="1.2s">
                    <select class="department">
                        <option selected disabled> انتخاب دپارتمان </option>
                        <option>تیم پشتیبانی</option>
                        <option>امور مالی</option>
                        <option>ثبت درخواست مشاوره</option>
                        <option>نقد و انتقاد</option>
                        <option>دعوت به همکاری</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-6 m-auto animate__animated animate__fadeIn wow" data-wow-delay="1.5s">
                    <textarea class="client-text" placeholder="متن شما" required></textarea>
                </div>
                <div class="text-center animate__animated animate__fadeIn wow" data-wow-delay="1.7s">
                    <input type="checkbox" id="not-robot" required>
                    <label for="not-robot">من ربات نیستم</label>
                </div>
            </div>
            <input class="tit send style-link-in-paraxin animate__animated animate__fadeIn wow" data-wow-delay="1.9s" type="submit" value="ارسال">
        </form>
    </div>
</div>
{% endblock %}
{% block wave %}
<div class="pt-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#efefef" fill-opacity="1" d="M0,0L30,10.7C60,21,120,43,180,53.3C240,64,300,64,360,85.3C420,107,480,149,540,176C600,203,660,213,720,192C780,171,840,117,900,106.7C960,96,1020,128,1080,154.7C1140,181,1200,203,1260,208C1320,213,1380,203,1410,197.3L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
    </svg>
</div>
{% endblock %}