{% extends 'base.html'%}

{% block title %}paraxin | تماس با تیم پاراکسین{% endblock %}
{% block keyword %}تماس با تیم پاراکسین, تماس با پاراکسین, ارتباط با پاراکسین, ارتباط با تیم پاراکسین, دپارتمان های پاراکسین, پشتیبان های پاراکسین, paraxin, پاراکسین, تیم پاراکسین{% endblock %}
{% block desc %}برای اینکه بتوانید در کمترین زمان ممکن با تیم پشتیبانی در ارتباط باشین می توانید از طریق این صفحه اقدام کنید، پشتیبان ها در کمترین زمان ممکن پاسخ شما را می دهند{% endblock %}
{% block contact %}sub-nav{% endblock %}

{% block content %}
<div class="simple-container">
    <div class="w-full md:w-3/5">
        <img class="temps animate__animated animate__rubberBand wow" data-wow-delay=".5s" src="{{url_for('static', filename='media/Contact/Contact_us_pro.svg')}}" alt="تماس با تیم پاراکسین">
    </div>
    <div class="text-container animate__animated animate__zoomInDown wow" data-wow-delay=".4s">
        <h1 class="header-text text-center">تماس با پاراکسین</h1>
        <p class="text-center animate__animated animate__flash wow" data-wow-delay="1.5s">
            به راحتی آب خوردن می توانید با ما در ارتباط باشین .
        </p>                
    </div>
</div>
<div class="simple-container mt-40">
    <div class="w-full md:w-3/5">
        <img class="animate__animated animate__rubberBand wow" data-wow-delay=".5s" src="{{url_for('static', filename='media/Contact/Get_in_touch.svg')}}" alt="روش های ارتباط با تیم">
    </div>
    <div class="p-5 text-container animate__animated animate__fadeInRight wow" data-wow-delay=".5s">
        <p class="desc">
            برای ارتباط با تیم پشتیبانی می توانید از دو طریق : 1 .<a class="simple-link" href="#send-mail">فرم زیر</a> 2 .<a href="https://t.me/paraxin_bot" target="_blank" class="simple-link">ربات تلگرام</a> اقدام کنید .
        </p>
        <p class="desc">
            برای ارتباط از طریق فرم شما باید یک سری اطلاعات را وارد کنید که از جمله ی آنها ایمیل و تلفن همراه می باشد .
            ایمیل واردی در بخش ایمیل باید به درستی وارد شود، زیرا جواب تیکت شما به ایمیل مذکور که در فرم وارد کردین ارسال می شود .
            پس از درستی اطلاعات وارد شده اطمینان حاصل کنید .
        </p>
        <p class="desc">
            راه دیگر ارتباط استفاده از ربات تلگرام است که توصیه ما به شما این راه است . کار با ربات خیلی راحت است اما با این حال ربات در تمام مراحل شما را راهنمایی می کند .
            الگوریتم های ربات طوری طراحی شده‌اند که توانایی پیش بینی عملکرد پشتیبان ها را دارند به همین دلیل می تواند پیام شما را برای پشتیبانی ارسال کند
            که حدس می زند زودتر از بقیه آنلاین می شود، بنابر این پاسخ دهی از طریق ربات خیلی سریع تر از ارسال تیکت است .
        </p>
    </div>
</div>
<div class="simple-container mt-40">
    <div class="w-full md:w-3/5">
        <img class="animate__animated animate__rubberBand wow" data-wow-delay=".5s" src="{{url_for('static', filename='media/Contact/Contact_us.svg')}}" alt="توضیحات دپارتمان های پاراکسین">
    </div>
    <div class="p-5 text-container animate__animated animate__fadeInLeft wow" data-wow-delay=".5s">
        <p class="desc">
            برای اینکه بتوانید در کمترین زمان ممکن با تیم پشتیبانی ارتباط برقرار کنید و پاسخ خود را به سرعت دریافت کنید
            به شما توصیه می کنیم دپارتمان خود را انتخاب کنید . با این کار پیام شما به دپارتمان مربوطه (فقط دپارتمان مربوطه) ارسال می شود .
            <ul>
                <li>تیم پشتیبانی : در صورت بروز مشکل می توانید این دپارتمان رو انتخاب کنید تا تیم پشتیبانی قدرتمند پاراکسین با شما تماس بگیرند.</li>
                <li>امور مالی : در صورت سوال داشتن در مورد قیمت ها یا روبه‌رویی با مشکل مالی این گزینه را انتخاب کنید تا متخصصین این زمینه با شما تماس بگیرند.</li>
                <li>ثبت درخواست مشاوره : بعد از انتخاب این دپارتمان، تیم مشاوره با شما تماس می گیرند.</li>
                <li>نقد و انتقاد : پیام های این دپارتمان مستقیم به دست مدیریت می رسد، تیم پاراکسین خوش حال می شود انتقاد های شما را بشنود.</li> 
                <li>دعوت به همکاری : برای استخدام شدن در تیم پاراکسین این دپارتمان را انتخاب کنید تا متخصصین این حوزه با شما تماس بگیرند.</li>
            </ul>
        </p>
    </div>
</div>
<div id="send-mail" class="pt-5">
    <div class="flex flex-col items-center">
        <div class="p-2 w-14 h-12 flex justify-center items-center border-2 border-b-0 rounded-t-xl text-paraxin-c-300 border-paraxin-c-300 bg-paraxin-c-200 bg-opacity-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg>
        </div>
        <form method="post" class="flex flex-col items-center w-full px-5 py-8 border-2 border-paraxin-c-300 bg-paraxin-c-200 bg-opacity-10 rounded-xl shadow-2xl">
            <div class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div class="animate__animated animate__fadeIn wow" data-wow-delay=".1s">
                    {{form.name.label(class="simple-label")}}
                    <div class="relative">
                        {{form.name(style="padding-right: 2.25rem;",  class="simple-input", placeholder="نام شما")}}
                        <div class="absolute top-2 right-2 text-gray-400">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>                              
                        </div>
                    </div>
                </div>
                <div class="animate__animated animate__fadeIn wow" data-wow-delay=".3s">
                    {{form.email.label(class="simple-label")}}
                    <div class="relative">
                        {{form.email(style="padding-right: 2.25rem;",  class="simple-input", placeholder="you@example.com")}}
                        <div class="absolute top-2 right-2 text-gray-400">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>                                                           
                        </div>
                    </div>
                </div>
                <div class="animate__animated animate__fadeIn wow" data-wow-delay=".5s">
                    {{form.phone.label(class="simple-label")}}
                    <div class="relative">
                        {{form.phone(style="direction: ltr !important; padding-left: 2.3rem; padding-right: 2.25rem;", pattern="[0-9]{9}", class="simple-input", placeholder="123456789")}}
                        <div class="absolute top-2 right-2 text-gray-400">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                            </svg>                                                                                     
                        </div>
                        <div class="absolute top-2 left-5">
                            <p class="text-red-500 text-md">09</p>
                        </div>
                    </div>
                </div>
                <div class="mt-auto animate__animated animate__fadeIn wow" data-wow-delay=".7s">
                    {{form.relation.label(class="simple-label")}}
                    {{form.relation(class="bg-white simple-input text-gray-400 cursor-pointer")}}
                </div>
                <div class="mt-auto animate__animated animate__fadeIn wow" data-wow-delay=".9s">
                    {{form.department.label(class="simple-label")}}
                    {{form.department(class="bg-white simple-input text-gray-400 cursor-pointer")}}
                </div>
            </div>
            <div class="my-6 w-full sm:w-8/12">
                <div class="animate__animated animate__fadeIn wow" data-wow-delay="1.2s">
                    {{form.text.label(class="simple-label")}}
                    {{form.text(class="simple-input py-4 h-28", placeholder="متن شما")}}
                </div>
                <div class="flex items-center justify-center gap-1 mt-3 text-center animate__animated animate__fadeIn wow" data-wow-delay="1.5s">
                    {{form.NotRobot(class="w-4 h-4 focus:ring-2 focus:ring-offset-1")}}
                    {{form.NotRobot.label}}
                </div>
            </div>
            <input class="w-fit paraxin-pro-link animate__animated animate__fadeIn wow" data-wow-delay="1.7s" type="submit" value="ارسال">
        </form>
    </div>
</div>
{% endblock %}
{% block wave %}
<div class="pt-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#efefef" fill-opacity="1" d="M0,0L30,10.7C60,21,120,43,180,53.3C240,64,300,64,360,85.3C420,107,480,149,540,176C600,203,660,213,720,192C780,171,840,117,900,106.7C960,96,1020,128,1080,154.7C1140,181,1200,203,1260,208C1320,213,1380,203,1410,197.3L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
    </svg>
</div>
{% endblock %}
{% block animate %}
<script src="{{url_for('static', filename='js/wow.js')}}"></script>
<script>
    new WOW() .init();
</script>
{% endblock %}