{% extends 'shared/base.html'%}

{% block title %}paraxin | تماس با تیم پاراکسین{% endblock %}
{% block keyword %}تماس با تیم پاراکسین, تماس با پاراکسین, ارتباط با پاراکسین, ارتباط با تیم پاراکسین, دپارتمان های پاراکسین, پشتیبان های پاراکسین, paraxin, پاراکسین, تیم پاراکسین{% endblock %}
{% block desc %}برای اینکه بتوانید در کمترین زمان ممکن با تیم پشتیبانی در ارتباط باشین می توانید از طریق این صفحه اقدام کنید، پشتیبان ها در کمترین زمان ممکن پاسخ شما را می دهند{% endblock %}
{% block style %}static/css/detail.css{% endblock %}

{% block content %}
<p>detail page</p>
{% endblock %}