{% extends 'shared/base.html'%}

{% block title %}paraxin{% endblock %}
{% block keyword %}{% endblock %}
{% block desc %}{% endblock %}
{% block style %}static/css/sample.css{% endblock %}
{% block sample %}active{% endblock %}

{% block content%}
    <div class="text-cetner">
        <h1 class="tit">نمونه کار ها</h1>
    </div>
    <div class="row row-reverse">
        <div class="filter col-sm-12 col-lg-3 mt-2">
            <h2 class="tit text-center">فیلتر</h2>
            <form>
                <div class="row">
                    <div class="col-sm-6 col-lg-12 my-1">
                        <label for="">موقعیت پروژه</label><br>
                        <label for="iran">ایران</label>
                        <input type="radio" id="iran" name="location">
                        <label for="international">بین و المللی</label>
                        <input type="radio" id="international" name="location">
                        <hr class="filter-divider">
                    </div>
                    <div class="col-sm-6 col-lg-12 my-1">
                        <label>نوع پروژه</label><br>
                        <label for="site">سایت </label>
                        <input type="checkbox" id="site">
                        <label for="seo">seo (سئو)</label>
                        <input type="checkbox" id="seo">
                        <label for="logo">طراحی لوگو</label>
                        <input type="checkbox" id="logo">
                        <label for="all">همه</label>
                        <input type="checkbox" id="all">
                        <hr class="filter-divider">
                    </div>
                </div>
                <div class="text-center">
                    <input class="style-link-in-paraxin mt-2" type="submit" value="اعمال فیلتر">
                </div>
            </form>
        </div>
        <div style="padding:0px 12px !important;" class="col-sm-12 col-lg-9 mt-2">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-6 m-auto">هنوز پروژه ایی به ثبت نرسیده است</div>
            </div>
        </div>
    </div>
{% endblock %}