{% extends 'base.html'%}

{% block title %}paraxin{% endblock %}
{% block keyword %}{% endblock %}
{% block desc %}{% endblock %}
{% block style %}{{url_for('static', filename='css/sample.css')}}{% endblock %}
{% block sample %}active{% endblock %}

{% block content%}
    <div class="text-cetner mt-5">
        <h1 class="tit">نمونه کار ها</h1>
    </div>
    <div class="row row-reverse">
        <div class="filter col-sm-12 col-lg-3 mt-2">
            <h2 class="tit text-center">فیلتر</h2>
            <form>
                <label>دسته بندی پروژه ها</label><br>
                {% for item in category%}
                <label for="{{item.text}}">{{item.text}}</label>
                <input type="checkbox" id="{{item.text}}"><br>
                {% endfor %}
                <hr class="filter-divider">
                <div class="text-center">
                    <input class="style-link-in-paraxin mt-2" type="submit" value="اعمال فیلتر">
                </div>
            </form>
        </div>
        <div style="padding:0px 12px !important;" class="col-sm-12 col-lg-9 mt-2">
            <div class="row">
                {% for item in sample %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <a class="links" href="{{url_for('detail', id=item.id)}}">
                            <img src="{{item.baner}}" alt="{{item.title}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title desc">{{item.title}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}