{% extends 'base/base.html' %}

{% block title %}paraxin | وبلاگ پاراکسین{% endblock %}
{% block keyword %}{% endblock %}
{% block desc %}{% endblock %}
{% block weblog %}main-nav hover:text-paraxin-c-200{% endblock %}

{% block content %}
<div class="my-5">
    <p class="font-tit mb-5 text-xl">وبلاگ پاراکسین</p>
    <div>
        {% if info%}
            <div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {% for web_log in info %}
                <div class="overflow-hidden border-2 border-gray-300 w-full rounded-xl hover:border-gray-500 hover:shadow-2xl">
                    <a href="{{url_for('weblog_detail', id=web_log.id)}}">
                        <img class="w-full" src="{{url_for('static', filename=web_log.baner)}}" alt="{{web_log.title}}">
                    </a>
                    <div class="p-2">
                        <p class="text-gray-600">{{web_log.title}}</p>
                        <p class="truncate">{{web_log.content}}</p>
                        <a class="text-blue-500 text-opacity-50 font-tit hover:underline hover:underline-offset-4" href="{{url_for('weblog_detail', id=web_log.id)}}">ادامه ی متلب</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="my-10 flex justify-center items-center">
                <ul class="pagination">
                    {% if info.has_prev %}
                        <li class="pagination-control">
                            <a href="{{url_for('weblog', page=info.page-1)}}" aria-label="Previous">
                                <span>&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="pagination-control pagination-disable">
                            <span>&laquo;</span>
                        </li>
                    {% endif %}
                    
                    {% for page in info.iter_pages() %}
                        {% if page != info.page %}
                        <li class="pagination-item"><a href="{{url_for('weblog', page=page)}}">{{page}}</a></li> 
                        {% else %}
                        <li class="pagination-item pagination-here"><a href="{{url_for('weblog', page=page)}}">{{page}}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if info.has_next %}
                        <li class="pagination-control">
                            <a href="{{url_for('weblog', page=info.page+1)}}" aria-label="Next">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="pagination-control pagination-disable">
                            <span>&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}