{% extends 'base/paxi_panel.html' %}
{% block content %}
<div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-2">
    <div class="w-8/12 m-auto md:w-10/12">
        <img src="{{url_for('static', filename='media/404_Error.svg')}}" alt="دسترسی به این آدرس ندارین | پاراکسین" class="w-full">
    </div>
    <div class="flex flex-col justify-center items-center">
        <p class="text-center">
            متاسفانه صفحه موردنظر یافت نشد
        </p>
        <div class="flex justify-center mt-5">
            <a class="paraxin-pro-link" href="{{url_for('panel.paxi_panel')}}">صفحه اصلی</a>
        </div>
    </div>
</div>
{% endblock %}