{% extends 'panel/paxi.html' %}

{% block category_page %}text-paraxin-c-200 font-bold{% endblock %}

{% block content %}
{% include "panel/form_errors.html"%}
<h1 class="text-paraxin-c-300 text-center mt-4 font-tit text-2xl">صفحه‌ی دسته بندی نمونه کارها</h1>
<div x-data="{ AddCategory : false }" class="mt-1 mb-8">
    <div class="paraxin-pro-link cursor-pointer inline-block" @click="AddCategory = true">افزودن دسته بندی جدید</div>
    <div class="fixed z-50 inset-0 bg-gray-800 bg-opacity-40 flex items-start justify-center pt-24" x-cloak x-show="AddCategory">
        <div class="bg-gray-150 border-2 border-gray-500 rounded-md p-5 mx-6 w-96">
            <div>
                <div class="flex justify-between text-gray-900 mb-5">
                    <h1 class="text-lg">افزودن دسته بندی</h1>
                    <span class="cursor-pointer" x-on:click="AddCategory = false">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>                              
                    </span>
                </div>
                <form action="{{url_for('paxi_add_work_sample_category')}}" method="post">
                    {{form.text.label(class="simple-label")}}
                    {{form.text(class="simple-input")}}
                    <div class="flex justify-between mt-5">
                        <button class="btn btn-success" x-on:click="AddCategory = false">لغو</button>
                        <input class="btn btn-danger" type="submit" value="افزودن دسته بندی جدید">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if data.total %}
    <table class="table">
        <thead class="table-head">
            <tr>
                <th scope="col" class="table-head-item">id</th>
                <th scope="col" class="table-head-item">text</th>
                <th scope="col" class="table-head-item">count</th>
                <th scope="col" class="table-head-item">action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in data%}
            <tr class="table-row">
                <th scope="row" class="text-paraxin-c-200">{{log.id}}</th>
                <td class="text-center py-1">{{log.text}}</td>
                <td class="text-center py-1">{{log.count()}}</td>
                <td class="text-center py-1 flex justify-center items-center">
                    <span class="p-1" x-data="{ paraxin{{log.id}} : false }">
                        <div class="text-yellow-500 cursor-pointer hover:text-yellow-700" title="edit record" @click="paraxin{{log.id}} = true">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil-fill w-4 h-4" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </div>
                        <div class="fixed z-50 inset-0 bg-gray-800 bg-opacity-40 flex items-start justify-center pt-24" x-cloak x-show="paraxin{{log.id}}">
                            <div class="bg-gray-150 border-2 border-gray-500 rounded-md p-5 mx-6 w-96">
                                <div class="flex justify-between text-gray-900 mb-5">
                                    <h1 class="text-lg">آبدیت رکورد</h1>
                                    <span class="cursor-pointer" x-on:click="paraxin{{log.id}} = false">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>                              
                                    </span>
                                </div>
                                <div>
                                    <form action="{{url_for('paxi_edit_work_sample_category', cat_id=log.id)}}" method="post">    
                                        {{form.text.label(class="simple-label text-right")}}
                                        {{form.text(class="simple-input", value=log.text)}}
                                        <div class="flex justify-between mt-5">
                                            <button type="button" class="btn-success" data-bs-dismiss="modal">لغو</button>
                                            <input class="btn-warning" type="submit", value="آبدیت رکورد ({{log.id}})">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center alert alert-danger mt-5">محتوایی پیدا نشد</p>
{% endif %}
    <div class="my-10 flex justify-center items-center">
        <ul class="pagination">
            {% if data.has_prev %}
                <li class="pagination-control">
                    <a href="{{url_for('paxi_work_sample_category', page=data.page-1)}}" aria-label="Previous">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-control pagination-disable">
                    <span>&laquo;</span>
                </li>
            {% endif %}

            {% for page in data.iter_pages() %}
                {% if page != data.page %}
                    <li class="pagination-item"><a href="{{url_for('paxi_work_sample_category', page=page)}}">{{page}}</a></li> 
                {% else %}
                    <li class="pagination-item pagination-here"><a href="{{url_for('paxi_work_sample_category', page=page)}}">{{page}}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if data.has_next %}
                <li class="pagination-control">
                    <a href="{{url_for('paxi_work_sample_category', page=data.page+1)}}">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-control pagination-disable">
                    <span>&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}