{% extends 'panel/base_form.html' %}

{% block work_page %}active{% endblock %}
{% block header %}ویرایش نمونه کار{% endblock %}
{% block buttonText %}ویرایش نمونه کار{% endblock %}
{% block inputs %}
{{form.category.label(class="simple-label mt-6")}}{{form.category(class="simple-input mt-1")}}
{{form.album.label(class="simple-label mt-6")}}{{form.album(class="simple-input mt-1" ,accept=".png, .jfif, .jpeg, .jpg, .webp, .svg, .icon, .ico")}}
<p class="mt-6 font-tit">عکس های آلبوم</p>
<p class="mt-1">( {{album.replace('|,|' ,' - - ').replace('media/sample/' ,'')}} )</p>
{% endblock %}
{% block baner_text %} ( {{baner}} ) {% endblock %}