{% extends 'base/paxi_panel.html' %}

{% block work_page %}text-paraxin-c-200 font-bold{% endblock %}

{% block content %}
<h1 class="text-paraxin-c-300 text-center mt-4 font-tit text-2xl">صفحه‌ی نمونه کار</h1>
<div class="mt-1 mb-8">
    <div class="flex justify-between flex-wrap items-center mt-5">
        <a href="{{url_for('panel.paxi_add_work_sample')}}" class="paraxin-pro-link">افزودن نمونه کار جدید</a>
        <form action="" class="w-full sm:w-4/12">
            {% if search_text %}
            <div class="relative">
                <input class="simple-input pl-9" id="search" name="search" placeholder="search" required type="search" value="{{search_text}}">
                <div class="absolute left-2 top-3 text-gray-400 hover:cursor-pointer">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            {% else %}
            <div class="relative">
                <input class="simple-input pl-9" id="search" name="search" placeholder="search" required type="search">
                <div class="absolute left-2 top-3 text-gray-400 hover:cursor-pointer">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% if data.total %}
    {% if search_text %}
        <p class="text-sm text-gray-500 mb-1">نتایج مربوط به <span class="text-red-500">{{search_text}}</span></p>
    {% endif %}
    <table class="table">
        <thead class="table-head">
            <tr>
                <th scope="col" class="table-head-item">id</th>
                <th scope="col" class="table-head-item">title</th>
                <th scope="col" class="table-head-item">content</th>
                <th scope="col" class="table-head-item">category</th>
                <th scope="col" class="table-head-item">action</th>
            </tr>
        </thead>
        <tbody>
        {% for log in data %}
        <tr class="table-row">
            <th scope="row" class="text-paraxin-c-200">{{log.id}}</th>
            <td class="text-center py-1">{{log.title[:15]}}..</td>
            <td class="text-center py-1">{{log.content[:30]}}..</td>
            <td class="text-center py-1">{{log.cat.text}}</td>
            <td class="text-center py-1 flex justify-center items-center">
                <span class="p-1" x-data="{ paraxin{{log.id}} : false }">
                    <a class="text-red-500 cursor-pointer hover:text-red-700" title="delete record" @click="paraxin{{log.id}} = true">
                        <svg class="link-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                    </a>
                    <div class="fixed z-50 inset-0 bg-gray-800 bg-opacity-40 flex items-start justify-center pt-24" x-cloak x-show="paraxin{{log.id}}">
                        <div class="bg-gray-150 border-2 border-gray-500 rounded-md p-5 mx-6 w-96">
                            <div class="flex justify-between text-gray-900 mb-5">
                                <h1 class="text-lg">حذف رکورد</h1>
                                <span class="cursor-pointer" x-on:click="paraxin{{log.id}} = false">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>                              
                                </span>
                            </div>
                            <div>
                                <p>
                                    آیا از حذف کردن رکورد
                                    ({{log.id}})
                                    اطمینان دارید .
                                </p>
                                <form class="flex justify-between mt-5" action="{{url_for('panel.paxi_delete_work_sample', sample_id=log.id)}}" method="post">
                                    <div class="btn-success" x-on:click="paraxin{{log.id}} = false">لغو</div>
                                    <input type="submit" value="حذف رکورد ({{log.id}})" class="btn-danger">
                                </form>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="p-1">
                    <a class="text-yellow-500 hover:text-yellow-700" title="edit record" href="{{url_for('panel.paxi_edit_work_sample', sample_id=log.id)}}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil-fill w-4 h-4" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </a>
                </span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center alert alert-danger mt-5">محتوایی برای ({{search_text}}) پیدا نشد</p>
    {% endif %}
    <div class="my-10 flex justify-center items-center">
        <ul class="pagination">
            {% if data.has_prev %}
                <li class="pagination-control">
                    <a href="{{url_for('panel.paxi_work_sample', page=data.page-1, search=search_text)}}" aria-label="Previous">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-control pagination-disable">
                    <span>&laquo;</span>
                </li>
            {% endif %}

            {% for page in data.iter_pages() %}
                {% if page != data.page %}
                    <li class="pagination-item"><a href="{{url_for('panel.paxi_work_sample', page=page, search=search_text)}}">{{page}}</a></li> 
                {% else %}
                    <li class="pagination-item pagination-here"><a href="{{url_for('panel.paxi_work_sample', page=page, search=search_text)}}">{{page}}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if data.has_next %}
                <li class="pagination-control">
                    <a href="{{url_for('panel.paxi_work_sample', page=data.page+1, search=search_text)}}">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-control pagination-disable">
                    <span>&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}