@import url("services-style.css");
#fap-builder-link{
    padding-top: 90px;
}
.form-type{
    padding: 5px 15px !important;
    text-align: center;
}
.form-type:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.form-type img{
    width: 60%;
    align-self: center;
    margin: 0px 0px 15px;
}
.form-type h3{
    margin: 0px 0px 20px;
}
.form-type p{
    text-align: justify;
    line-height: var(--line-height-p);
}
.link-form{
    margin: 20px 0px;
}