@import url("services-style.css");
.form-section{
    margin: 25px 0px;
    padding: 20px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.form-section:nth-child(even){
    flex-direction: row-reverse;
}
.form-desc{
    width: 40%;
}
.form-desc h3{
    margin: 15px 0px;
}
.form-desc p{
    margin-bottom: 10px;
    padding: var(--padding-a-field);
    text-indent: var(--line-height-p);
    border-radius: var(--border-radius-a-filed);
    text-align: justify;
    line-height: var(--line-height-p);
}
.form-img-desc{
    width: 60%;
}
.form-img-desc img{
    width: 100%;
}