@import url("services-style.css");
.form-section{
    margin: 50px 0px;
    padding: 20px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.form-section:nth-child(even){
    flex-direction: row-reverse;
}
.form-desc{
    width: 45%;
}
.form-desc h3{
    margin: 15px 19px;
}
.form-desc p{
    margin-bottom: 10px;
    text-indent: var(--line-height-p);
    border-radius: var(--border-radius-a-filed);
    text-align: justify;
    line-height: var(--line-height-p);
}
.form-img-desc{
    width: 55%;
}
.form-img-desc img{
    width: 100%;
}
@media screen and (max-width: 992px){
    .form-section{
        flex-direction: column;
    }
    .form-desc{
        width: 100%;
    }
    .form-img-desc{
        width: 100%;
    }
}