@import url("../../style/base.css");
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 15px 0px;
}
.caption h1{
    padding: 15px 10px;
    font-size: 25px;
    letter-spacing: -2px;
}
.caption::before{
    content: "\227C";
    color: var(--paraxin-color);
    font-weight: 900;
    font-size: 30px;
}
.caption::after{
    content: "\227D";
    color: var(--paraxin-color);
    font-weight: 900;
    font-size: 30px;
}