@import url("../base.css");
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px;
}
.caption h1{
    padding: 15px 10px 0px !important;
    font-size: 25px;
    letter-spacing: -2px;
}
.caption::before{
    content: "\227C";
    color: var(--paraxin-color);
    font-size: 30px;
}
.caption::after{
    content: "\227D";
    color: var(--paraxin-color);
    font-size: 30px;
}
.opinion-container{
    margin: auto;
    width: 80%;
    text-align: center;
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}
.fv-text{
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.stands-for{
    color: var(--mail-color);
    font-weight: bold;
}
.header-title{
    font-size: 18px;
    font-weight: bold;
}
.img-header{
    width: 85%;
    height: auto;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .img-header{
        width: 50%;
    }    
}
@media screen and (max-width: 568px) {
    .img-header{
        width: 85%;
    }
}