@import url('services-style.css');
.ability{
    text-align: center;
}
.ability:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.ability img{
    margin: 20px 5px 0;
}
.ability p{
    font-size: 12px;
    line-height: var(--line-height-p);
    color: var(--main-font-size);
}
.ability .des{
    font-size: 19px;
}
.level{
    padding: 0px 15px !important;
    margin: 0px 0px 45px;
    text-align: center;
}
.level .img{
    margin: 10px auto 20px;
    max-width: 245px;
    height: 245px;
    border-radius: 50%;
    padding: 20px;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    overflow: hidden;
}
.level:hover .img{
    box-shadow: rgba(158, 158, 160, 0.25) 0px 235px 0px -12px inset ;
}
.level p{
    margin-bottom: 10px;
    line-height: var(--line-height-p);
    text-align: justify;
}
.pro-web-text{
    padding: 15px 0px;
    width: 100%;
}
.pro-web-text h2{
    margin-bottom: 25px;
}
.pro-web-img{
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    padding: 15px 0px;
}
.pro-web-img img{
    width: 100%;
}
.cv-item{
    width: 100%;
    position: relative;
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cv-item .cv-item-image{
    height: 300px;
}
.cv-item .cv-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.cv-item .cv-item-des{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: #e488d0d9;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transform: translateY(270px);
}
.cv-item:hover .cv-item-des{
    transform: translateY(0px);
    visibility: visible;
}
.cv-item:hover .cv-item-image img{
    transform: scale(1.2);
}
.cv-item .cv-item-des p{
    color: black;
    font-weight: 500;
}
.cv-item .cv-item-des a i{
    padding-left: 5px;
}
.cv-item-link-padding{
    padding: 5px 10px;
}
@media screen and (max-width: 768px){
    .shrinker{
        width: 75% !important;
        margin: auto;
    }
}